In [1]:
import pandas as pd
import numpy as np

IMBD Title Crew
imdb.title.crew.csv

In [2]:
df = pd.read_csv("imdb.title.crew.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

In [5]:
df.describe()

           tconst  directors    writers
count      146144     140417     110261
unique     146144      98525      91920
top     tt4727914  nm3266654  nm0000636
freq            1         62         80

In [11]:
df.tconst.value_counts()

tt4727914     1
tt1778196     1
tt3404092     1
tt9379166     1
tt6495094     1
tt2536246     1
tt1781775     1
tt9527568     1
tt7048500     1
tt3920648     1
tt5937748     1
tt1606618     1
tt8713272     1
tt1994598     1
tt4273292     1
tt10443826    1
tt7305554     1
tt7681594     1
tt2343353     1
tt3342254     1
tt1912398     1
tt2085922     1
tt2672938     1
tt5632412     1
tt5736748     1
tt3579808     1
tt3663958     1
tt3895338     1
tt1559035     1
tt3392324     1
             ..
tt2151645     1
tt8130490     1
tt4448248     1
tt3233926     1
tt4073894     1
tt4773108     1
tt3257770     1
tt7765788     1
tt3833380     1
tt8458818     1
tt6390840     1
tt4228146     1
tt1817301     1
tt2188913     1
tt6297684     1
tt9052870     1
tt6560332     1
tt1663143     1
tt1462765     1
tt10150272    1
tt4925436     1
tt1782453     1
tt5101960     1
tt5668054     1
tt5511826     1
tt3972542     1
tt5044672     1
tt5211130     1
tt3749338     1
tt3246436     1
Name: tconst, Length: 146144, dtype: int64

In [14]:
# df.tconst.dtype

Comments:
More qualitative data, tconst is object

In [15]:
df.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943