### Plan

1. Data cleanup
    - Formatting issues
    - Missing values
 

2. Exploration
    - Visualizations


3. Evalution

### Import Packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import time

### Functions

In [ ]:
def turn_to_int(data, column):
    data[column] = data[column].apply(lambda x: x.replace("$", ""))
    data[column] = data[column].apply(lambda x: x.replace(",", ""))
    data[column] = data[column].astype(int)

In [ ]:
def turn_to_obj(data, column):
    data[column] = data[column].astype(str)

In [ ]:
def drop_columns(data, column):
    data.drop(column, inplace=True, axis=1)# axis=0 to row, axis=1 to column

In [ ]:
def merge_dataframes(df_1, df_2):
    df_movies = pd.merge(df_1, df_2, how="left", on="title")
    return df_movies

### 1. Data Cleanup

No nun values:
    - tmdb.movies.csv
    - tn.movie_budgets.csv
  
Leaving nun values as is in data with missing values:
    - bom.movie_gross.csv
    - imdb.title.basics.csv

### Read data

In [ ]:
df_budgets = pd.read_csv("files/tn.movie_budgets.csv")
df_popularity = pd.read_csv("files/tmdb.movies.csv")
df_gross = pd.read_csv("files/bom.movie_gross.csv")
df_basics = pd.read_csv("files/imdb.title.basics.csv")

### Update Formats

##### 1. Turn numeric object from string to integer

In [ ]:
turn_to_int(df_budgets, "production_budget")
turn_to_int(df_budgets, "domestic_gross")
turn_to_int(df_budgets, "worldwide_gross")

##### 2. Turn non-numeric object from integer to string

In [ ]:
turn_to_obj(df_gross, "year")
turn_to_obj(df_basics, "start_year")

### Drop Columns

In [ ]:
drop_columns(df_popularity, ["id", "Unnamed: 0", "genre_ids", "original_title"])

In [ ]:
drop_columns(df_budgets, ["id", "release_date"])

In [ ]:
drop_columns(df_gross, ["foreign_gross", "domestic_gross", "year"])

In [ ]:
drop_columns(df_basics, ["tconst", "original_title"])

### Merge datasets

##### 1. Rename

In [ ]:
df_budgets.rename(columns = {"movie": "title"}, inplace=True)

In [ ]:
df_basics.rename(columns = {"primary_title": "title"}, inplace=True)

##### 2. Merge

In [ ]:
df_movie = merge_dataframes(df_popularity, df_gross)

In [ ]:
df_movie_2 = merge_dataframes(df_movie, df_budgets)

In [ ]:
df_movies_final = merge_dataframes(df_basics, df_movie_2)

In [ ]:
#replace null values in release_date with start_year from df_basics
df_movies_final.release_date.fillna(df_movies_final.start_year, inplace=True)

In [ ]:
#start_year no longer needed
drop_columns(df_movies_final, "start_year")

### 2. Exploration

### 3. Evaluation