### Plan

1. Data cleanup
 - Formatting issues
 - Duplicates
 - Missing values
 
2. Exploration

 - visualizations

3. Modeling
    - 

4. Evalution
    -

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import time

### 1. Data Cleanup for Null Values

File name: imdb.title.ratings.csv
- No nun values

File Name: tmdb.movies.csv
- No nun values

File Name: tn.movie_budgets.csv
- No nun values

Data with nun values:

File name: bom.movie_gross.csv
- leaving null value in data set

File Name: imdb.title.akas.csv
- leaving null value in data set

File Name: imdb.title.basics.csv
- leaving null vale in data set

### Import data sets
- df_ratings #dropped for merge
- df_budgets
- df_popularity
- df_gross
- df_akas #dropped for merge
- df_basics

In [2]:
# Sharon files
# df_ratings = pd.read_csv("imdb.title.ratings.csv") dropped for merge
df_budgets = pd.read_csv("files/tn.movie_budgets.csv")
df_popularity = pd.read_csv("files/tmdb.movies.csv")

In [3]:
# Daniel files: bom.movie_gross.csv"
df_gross = pd.read_csv("files/bom.movie_gross.csv")
# df_akas = pd.read_csv("imdb.title.akas.csv") dropped for merge
df_basics = pd.read_csv("files/imdb.title.basics.csv")

In [8]:
df_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

### Functions for Formatting

In [4]:
# turn object to integer:

def turn_to_int(data, column):
    data[column] = data[column].apply(lambda x: x.replace("$", ""))
    data[column] = data[column].apply(lambda x: x.replace(",", ""))
    data[column] = data[column].astype(int)

In [5]:
# turn interger into object:
def turn_to_obj(data, column):
    data[column] = data[column].astype(str)

In [6]:
# turn id(int) to id(obj):
turn_to_obj(df_budgets, "id")

In [7]:
# turn from obj to int: budget files, to columns "production_budget", "domestic_gross", "worldwide_gross"
turn_to_int(df_budgets, "production_budget")
turn_to_int(df_budgets, "domestic_gross")
turn_to_int(df_budgets, "worldwide_gross")

In [10]:
df_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null object
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null int64
domestic_gross       5782 non-null int64
worldwide_gross      5782 non-null int64
dtypes: int64(3), object(3)
memory usage: 271.1+ KB

In [8]:
# from df_basics, turn start_year(int) to str
turn_to_obj(df_basics, "start_year")

In [ ]:
df_basics.info()

In [9]:
# Daniel Files: turn year (int) to year(str)
turn_to_obj(df_gross, "year")

In [ ]:
df_gross.info()

### Drop Columns
#from df_movies_final, dropping "id_x", "id_y", "release_date_y", "start_year", "original_title", "year"
#we are not taking domestic_gross, foreign_gross from df_gross file
#from df_aka file, we are not taking ordering, types, attributes, is_original_title
#from df_basics, we are not taking tconst

In [10]:
def drop_columns(data, column):
    data.drop(column, inplace=True, axis=1)# axis=0 to row, axis=1 to column

In [10]:
# from ratings, dropping "numvotes"
# drop_columns(df_ratings, "numvotes")
# df_ratings.head()

In [11]:
# from df_popularity, dropping "unnamed" and "genre_ids", "original_title"
drop_columns(df_popularity, ["id", "Unnamed: 0", "genre_ids", "original_title"])

In [15]:
df_popularity.head()

,original_language,popularity,release_date,title,vote_average,vote_count
0,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,en,28.515,2010-05-07,Iron Man 2,6.8,12368
3,en,28.005,1995-11-22,Toy Story,7.9,10174
4,en,27.920,2010-07-16,Inception,8.3,22186

In [12]:
# from df_budgets, dropping "id" and "release_date"
drop_columns(df_budgets, ["id", "release_date"])
df_budgets.head()

,movie,production_budget,domestic_gross,worldwide_gross
0,Avatar,425000000,760507625,2776345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,Dark Phoenix,350000000,42762350,149762350
3,Avengers: Age of Ultron,330600000,459005868,1403013963
4,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [13]:
# from df_gross, dropping "foreign_gross" and "domestic_gross"
drop_columns(df_gross, ["foreign_gross", "year"])

In [31]:
df_gross.head()

                                         title studio
0                                  Toy Story 3     BV
1                   Alice in Wonderland (2010)     BV
2  Harry Potter and the Deathly Hallows Part 1     WB
3                                    Inception     WB
4                          Shrek Forever After   P/DW

In [16]:
# from df_akas, dropping "ordering", "types", "attributes", "is_original_title"
# drop_columns(df_akas, ["ordering", "types", "attributes", "is_original_title"])
# df_akas.head()

    title_id                                    title region language
0  tt0369610                            Джурасик свят     BG       bg
1  tt0369610                        Jurashikku warudo     JP      NaN
2  tt0369610  Jurassic World: O Mundo dos Dinossauros     BR      NaN
3  tt0369610                  O Mundo dos Dinossauros     BR      NaN
4  tt0369610                           Jurassic World     FR      NaN

In [14]:
# from df_basics, dropping "tconst", "start_year"
drop_columns(df_basics, ["tconst", "original_title"])

In [33]:
df_basics.head()

                     primary_title  runtime_minutes                genres
0                        Sunghursh            175.0    Action,Crime,Drama
1  One Day Before the Rainy Season            114.0       Biography,Drama
2       The Other Side of the Wind            122.0                 Drama
3                  Sabse Bada Sukh              NaN          Comedy,Drama
4         The Wandering Soap Opera             80.0  Comedy,Drama,Fantasy

### Merge datasets

In [41]:
print(df_gross.shape)
print(df_popularity.shape)

(3387, 2)
(26517, 6)

In [15]:
df_movies = pd.merge(df_popularity, df_gross, how="left", on="title")
df_movies.head(10)

,original_language,popularity,release_date,title,vote_average,vote_count,studio,domestic_gross
0,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,NaN,NaN
1,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,P/DW,217600000.0
2,en,28.515,2010-05-07,Iron Man 2,6.8,12368,Par.,312400000.0
3,en,28.005,1995-11-22,Toy Story,7.9,10174,NaN,NaN
4,en,27.920,2010-07-16,Inception,8.3,22186,WB,292600000.0
5,en,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,NaN,NaN
6,en,26.526,2009-12-18,Avatar,7.4,18676,NaN,NaN
7,en,24.445,2010-06-17,Toy Story 3,7.7,8340,BV,415000000.0
8,en,23.673,2010-07-09,Despicable Me,7.2,10057,Uni.,251500000.0
9,en,22.855,2010-11-04,Megamind,6.8,3635,P/DW,148400000.0

In [17]:
df_budgets.rename(columns = {"movie": "title"}, inplace=True)
df_budgets.head()

,title,production_budget,domestic_gross,worldwide_gross
0,Avatar,425000000,760507625,2776345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,Dark Phoenix,350000000,42762350,149762350
3,Avengers: Age of Ultron,330600000,459005868,1403013963
4,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [58]:
print(df_movies.shape)
print(df_budgets.shape)

(26517, 7)
(5782, 4)

In [18]:
df_movies2 = pd.merge(df_movies, df_budgets, how = "left", on="title")
df_movies2.head()

,original_language,popularity,release_date,title,vote_average,vote_count,studio,domestic_gross_x,production_budget,domestic_gross_y,worldwide_gross
0,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,NaN,NaN,NaN,NaN,NaN
1,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,P/DW,217600000.0,165000000.0,217581232.0,494870992.0
2,en,28.515,2010-05-07,Iron Man 2,6.8,12368,Par.,312400000.0,170000000.0,312433331.0,621156389.0
3,en,28.005,1995-11-22,Toy Story,7.9,10174,NaN,NaN,30000000.0,191796233.0,364545516.0
4,en,27.920,2010-07-16,Inception,8.3,22186,WB,292600000.0,160000000.0,292576195.0,835524642.0

In [19]:
df_basics.rename(columns = {"primary_title": "title"}, inplace=True)
df_basics.head()

,title,start_year,runtime_minutes,genres
0,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,The Other Side of the Wind,2018,122.0,Drama
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"

In [61]:
print(df_movies2.shape)
print(df_basics.shape)

(26606, 10)
(146144, 3)

In [20]:
df_movies_final = pd.merge(df_basics, df_movies2, how = "left", on="title")
df_movies_final.head()

,title,start_year,runtime_minutes,genres,original_language,popularity,release_date,vote_average,vote_count,studio,domestic_gross_x,production_budget,domestic_gross_y,worldwide_gross
0,Sunghursh,2013,175.0,"Action,Crime,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Other Side of the Wind,2018,122.0,Drama,en,9.8,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN,NaN
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#replace null values in release_date with start_year from df_basics
df_movies_final.release_date.fillna(df_movies_final.start_year, inplace=True)

In [22]:
#start_year no longer needed
drop_columns(df_movies_final, "start_year")

In [23]:
df_movies_final.domestic_gross_y.fillna(df_movies_final.domestic_gross_x, inplace=True)
drop_columns(df_movies_final, "domestic_gross_x")

,title,runtime_minutes,genres,original_language,popularity,release_date,vote_average,vote_count,studio,production_budget,domestic_gross,worldwide_gross
0,Sunghursh,175.0,"Action,Crime,Drama",NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
1,One Day Before the Rainy Season,114.0,"Biography,Drama",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
2,The Other Side of the Wind,122.0,Drama,en,9.800,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN
3,Sabse Bada Sukh,NaN,"Comedy,Drama",NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
4,The Wandering Soap Opera,80.0,"Comedy,Drama,Fantasy",NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
5,A Thin Life,75.0,Comedy,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
6,Bigfoot,NaN,"Horror,Thriller",en,2.813,2012-06-30,2.9,26.0,NaN,NaN,NaN,NaN
7,Joe Finds Grace,83.0,"Adventure,Animation,Comedy",NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
8,O Silêncio,NaN,"Documentary,History",NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
9,Nema aviona za Zagreb,82.0,Biography,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
10,Pál Adrienn,136.0,Drama,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN
11,So Much for Justice!,100.0,History,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN
12,Cooper and Hemingway: The True Gen,180.0,Documentary,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
13,Children of the Green Dragon,89.0,Drama,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN
14,T.G.M. - osvoboditel,60.0,Documentary,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
15,The Tragedy of Man,160.0,"Animation,Drama,History",NaN,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN
16,How Huang Fei-hong Rescued the Orphan from the...,NaN,NaN,NaN,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN
17,Heaven & Hell,104.0,Drama,en,0.600,2018-11-06,7.5,2.0,NaN,NaN,NaN,NaN
18,The Final Journey,120.0,Drama,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN
19,Los pájaros se van con la muerte,110.0,"Drama,Mystery",NaN,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN
20,Foodfight!,91.0,"Action,Animation,Comedy",en,4.705,2013-05-07,2.1,46.0,NaN,45000000.0,0.0,73706.0
21,Godfather,NaN,"Crime,Drama",NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
22,Gangavataran,134.0,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
23,Return to Babylon,75.0,"Biography,Comedy,Drama",en,0.877,2013-08-11,7.0,1.0,NaN,NaN,NaN,NaN
24,Akakis mogzauroba,44.0,Documentary,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
25,Seven Jews from My Class,40.0,Documentary,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
26,On kadin,NaN,Drama,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
27,To Chase a Million,97.0,"Action,Drama",NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
28,Prague: The Restless Heart of Europe,59.0,"Documentary,History",NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
29,Short Time Heroes,45.0,Sci-Fi,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
150769,Nepal - Homebird,52.0,Documentary,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150770,Fragments,NaN,"Drama,Mystery,Sci-Fi",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150771,Marley G Documentary,NaN,Documentary,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150772,Bacchanalia,72.0,"Drama,Mystery,Thriller",NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
150773,Paradise,NaN,"Crime,Drama",en,2.892,2013-10-18,5.1,34.0,NaN,NaN,NaN,NaN
150774,Paradise,NaN,"Crime,Drama",ru,2.845,2016-10-16,8.0,19.0,NaN,NaN,NaN,NaN
150775,A Cherry Tale,85.0,Documentary,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150776,Sokagin Çocuklari,98.0,"Drama,Family",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150777,Kuttram Seiyel,NaN,"Action,Crime",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150778,The Holden Family Plan,NaN,"Drama,Family",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150779,Albatross,NaN,Documentary,en,5.624,2012-01-02,6.2,48.0,NaN,NaN,NaN,NaN
150780,Albatross,NaN,Documentary,en,0.600,2017-01-01,10.0,1.0,NaN,NaN,NaN,NaN
150781,9/11: Escape from the Towers,120.0,Documentary,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
150782,Wien is 't Hof van Commerce,NaN,Comedy,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
150783,The War of Godzilla,102.0,"Action,Comedy,Family",NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
150784,La vida sense la Sara Amat,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150785,Vida em Movimento,70.0,Documentary,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150786,Bobbyr Bondhura,NaN,Family,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150787,The Last White Witch,97.0,"Comedy,Drama,Fantasy",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150788,The Mystery of a Buryat Lama,94.0,"Biography,Documentary,History",NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
150789,Drømmeland,72.0,Documentary,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150790,The Rehearsal,51.0,Drama,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150791,Illenau - die Geschichte einer ehemaligen Heil...,84.0,Documentary,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
150792,Safeguard,90.0,"Drama,Thriller",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150793,The Secret of China,NaN,"Adventure,History,War",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150794,Kuambil Lagi Hatiku,123.0,Drama,NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
150795,Rodolpho Teóphilo - O Legado de um Pioneiro,NaN,Documentary,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
150796,Dankyavar Danka,NaN,Comedy,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
150797,6 Gunn,116.0,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
150798,Chico Albuquerque - Revelações,NaN,Documentary,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_movies_final.rename(columns={'domestic_gross_y': 'domestic_gross'},inplace=True)

In [26]:
df_movies_final.head()

,title,runtime_minutes,genres,original_language,popularity,release_date,vote_average,vote_count,studio,production_budget,domestic_gross,worldwide_gross
0,Sunghursh,175.0,"Action,Crime,Drama",NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
1,One Day Before the Rainy Season,114.0,"Biography,Drama",NaN,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN
2,The Other Side of the Wind,122.0,Drama,en,9.8,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN
3,Sabse Bada Sukh,NaN,"Comedy,Drama",NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
4,The Wandering Soap Opera,80.0,"Comedy,Drama,Fantasy",NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_movies_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150799 entries, 0 to 150798
Data columns (total 12 columns):
title                150799 non-null object
runtime_minutes      118512 non-null float64
genres               145289 non-null object
original_language    24204 non-null object
popularity           24204 non-null float64
release_date         150799 non-null object
vote_average         24204 non-null float64
vote_count           24204 non-null float64
studio               3831 non-null object
production_budget    4550 non-null float64
domestic_gross       6251 non-null float64
worldwide_gross      4550 non-null float64
dtypes: float64(7), object(5)
memory usage: 15.0+ MB