### Plan

1. Data cleanup
    - Formatting issues
    - Missing values
 

2. Exploration
    - Visualizations


3. Evalution

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import time

### Functions

In [2]:
def turn_to_int(data, column):
    data[column] = data[column].apply(lambda x: x.replace("$", ""))
    data[column] = data[column].apply(lambda x: x.replace(",", ""))
    data[column] = data[column].astype(int)

In [3]:
def turn_to_obj(data, column):
    data[column] = data[column].astype(str)

In [4]:
def drop_columns(data, column):
    data.drop(column, inplace=True, axis=1)# axis=0 to row, axis=1 to column

In [5]:
def merge_dataframes(df_1, df_2):
    df_movies = pd.merge(df_1, df_2, how="left", on="title")
    return df_movies

### 1. Data Cleanup

No nun values:
    - tmdb.movies.csv
    - tn.movie_budgets.csv
  
Leaving nun values as is in data with missing values:
    - imdb.title.basics.csv

### Read data

In [6]:
df_budgets = pd.read_csv("files/tn.movie_budgets.csv")
df_popularity = pd.read_csv("files/tmdb.movies.csv")
df_basics = pd.read_csv("files/imdb.title.basics.csv")

### Update Formats

##### 1. Turn numeric object from string to integer

In [7]:
turn_to_int(df_budgets, "production_budget")
turn_to_int(df_budgets, "domestic_gross")
turn_to_int(df_budgets, "worldwide_gross")

##### 2. Turn non-numeric object from integer to string

In [8]:
turn_to_obj(df_basics, "start_year")

### Drop Columns

In [9]:
drop_columns(df_popularity, ["id", "Unnamed: 0", "genre_ids", "original_title", "original_language"])

In [10]:
drop_columns(df_budgets, ["id", "release_date"])

In [11]:
drop_columns(df_basics, ["tconst", "runtime_minutes", "original_title"])

### Merge datasets

##### 1. Rename

In [12]:
df_budgets.rename(columns = {"movie": "title"}, inplace=True)

In [13]:
df_basics.rename(columns = {"primary_title": "title"}, inplace=True)

##### 2. Merge

In [14]:
df_movie = merge_dataframes(df_popularity, df_budgets)

In [15]:
df_movies_final = merge_dataframes(df_basics, df_movie)

In [16]:
df_movies_final.release_date.fillna(df_movies_final.start_year, inplace=True)

In [17]:
drop_columns(df_movies_final, "start_year")

In [21]:
df_movies_final.set_index("genres", inplace=True)

In [24]:
df_movies_final["foreign_gross"] = (df_movies_final.worldwide_gross - df_movies_final.domestic_gross)

In [30]:
df_movies_final["net_profit"] = (df_movies_final.worldwide_gross - df_movies_final.production_budget)

In [31]:
df_movies_final.head()

,title,popularity,release_date,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
genres,,,,,,,,,,
"Action,Crime,Drama",Sunghursh,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Biography,Drama",One Day Before the Rainy Season,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Drama,The Other Side of the Wind,9.8,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN,NaN
"Comedy,Drama",Sabse Bada Sukh,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Comedy,Drama,Fantasy",The Wandering Soap Opera,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2. Exploration

### 3. Evaluation