### Plan

1. Data cleanup
 - Formatting issues
 - Duplicates
 - Missing values
 
2. Exploration

 - visualizations

3. Modeling
    - 

4. Evalution
    -

### Import Packages

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import time

### 1. Data Cleanup for Null Values

File name: imdb.title.ratings.csv
- No nun values

File Name: tmdb.movies.csv
- No nun values

File Name: tn.movie_budgets.csv
- No nun values

Data with nun values:

File name: bom.movie_gross.csv
- leaving null value in data set

File Name: imdb.title.akas.csv
- leaving null value in data set

File Name: imdb.title.basics.csv
- leaving null vale in data set

### Import data sets
- df_ratings #dropped for merge
- df_budgets
- df_popularity
- df_gross
- df_akas #dropped for merge
- df_basics

In [27]:
# Sharon files
# df_ratings = pd.read_csv("imdb.title.ratings.csv") dropped for merge
df_budgets = pd.read_csv("files/tn.movie_budgets.csv")
df_popularity = pd.read_csv("files/tmdb.movies.csv")

In [28]:
# Daniel files: bom.movie_gross.csv"
df_gross = pd.read_csv("files/bom.movie_gross.csv")
# df_akas = pd.read_csv("imdb.title.akas.csv") dropped for merge
df_basics = pd.read_csv("files/imdb.title.basics.csv")

### Functions for Formatting

In [29]:
# turn object to integer:

def turn_to_int(data, column):
    data[column] = data[column].apply(lambda x: x.replace("$", ""))
    data[column] = data[column].apply(lambda x: x.replace(",", ""))
    data[column] = data[column].astype(int)

In [30]:
# turn interger into object:
def turn_to_obj(data, column):
    data[column] = data[column].astype(str)

In [31]:
# turn id(int) to id(obj):
turn_to_obj(df_budgets, "id")

In [32]:
# turn from obj to int: budget files, to columns "production_budget", "domestic_gross", "worldwide_gross"
turn_to_int(df_budgets, "production_budget")
turn_to_int(df_budgets, "domestic_gross")
turn_to_int(df_budgets, "worldwide_gross")

In [33]:
# from df_basics, turn start_year(int) to str
turn_to_obj(df_basics, "start_year")

In [34]:
# Daniel Files: turn year (int) to year(str)
turn_to_obj(df_gross, "year")

### Drop Columns
#from df_movies_final, dropping "id_x", "id_y", "release_date_y", "start_year", "original_title", "year"
#we are not taking domestic_gross, foreign_gross from df_gross file
#from df_aka file, we are not taking ordering, types, attributes, is_original_title
#from df_basics, we are not taking tconst

In [35]:
def drop_columns(data, column):
    data.drop(column, inplace=True, axis=1)# axis=0 to row, axis=1 to column

In [10]:
# from ratings, dropping "numvotes"
# drop_columns(df_ratings, "numvotes")
# df_ratings.head()

In [36]:
# from df_popularity, dropping "unnamed" and "genre_ids", "original_title"
drop_columns(df_popularity, ["id", "Unnamed: 0", "genre_ids", "original_title"])

In [37]:
df_popularity.head()

,original_language,popularity,release_date,title,vote_average,vote_count
0,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,en,28.515,2010-05-07,Iron Man 2,6.8,12368
3,en,28.005,1995-11-22,Toy Story,7.9,10174
4,en,27.920,2010-07-16,Inception,8.3,22186

In [38]:
# from df_budgets, dropping "id" and "release_date"
drop_columns(df_budgets, ["id", "release_date"])
df_budgets.head()

,movie,production_budget,domestic_gross,worldwide_gross
0,Avatar,425000000,760507625,2776345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,Dark Phoenix,350000000,42762350,149762350
3,Avengers: Age of Ultron,330600000,459005868,1403013963
4,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [39]:
# from df_gross, dropping "foreign_gross" and "domestic_gross"
drop_columns(df_gross, ["domestic_gross", "foreign_gross", "year"])

In [40]:
df_gross.head()

                                         title studio
0                                  Toy Story 3     BV
1                   Alice in Wonderland (2010)     BV
2  Harry Potter and the Deathly Hallows Part 1     WB
3                                    Inception     WB
4                          Shrek Forever After   P/DW

In [41]:
# from df_akas, dropping "ordering", "types", "attributes", "is_original_title"
# drop_columns(df_akas, ["ordering", "types", "attributes", "is_original_title"])
# df_akas.head()

In [42]:
# from df_basics, dropping "tconst", "start_year"
drop_columns(df_basics, ["tconst", "original_title"])

In [43]:
df_basics.head()

,primary_title,start_year,runtime_minutes,genres
0,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,The Other Side of the Wind,2018,122.0,Drama
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"

### Merge datasets

In [44]:
print(df_gross.shape)
print(df_popularity.shape)

(3387, 2)
(26517, 6)

In [45]:
df_movies = pd.merge(df_popularity, df_gross, how="left", on="title")
df_movies.head(10)

,original_language,popularity,release_date,title,vote_average,vote_count,studio
0,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,NaN
1,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,P/DW
2,en,28.515,2010-05-07,Iron Man 2,6.8,12368,Par.
3,en,28.005,1995-11-22,Toy Story,7.9,10174,NaN
4,en,27.920,2010-07-16,Inception,8.3,22186,WB
5,en,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,NaN
6,en,26.526,2009-12-18,Avatar,7.4,18676,NaN
7,en,24.445,2010-06-17,Toy Story 3,7.7,8340,BV
8,en,23.673,2010-07-09,Despicable Me,7.2,10057,Uni.
9,en,22.855,2010-11-04,Megamind,6.8,3635,P/DW

In [46]:
df_budgets.rename(columns = {"movie": "title"}, inplace=True)
df_budgets.head()

,title,production_budget,domestic_gross,worldwide_gross
0,Avatar,425000000,760507625,2776345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,Dark Phoenix,350000000,42762350,149762350
3,Avengers: Age of Ultron,330600000,459005868,1403013963
4,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [47]:
print(df_movies.shape)
print(df_budgets.shape)

(26517, 7)
(5782, 4)

In [48]:
df_movies2 = pd.merge(df_movies, df_budgets, how = "left", on="title")
df_movies2.head()

,original_language,popularity,release_date,title,vote_average,vote_count,studio,production_budget,domestic_gross,worldwide_gross
0,en,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,NaN,NaN,NaN,NaN
1,en,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,P/DW,165000000.0,217581232.0,494870992.0
2,en,28.515,2010-05-07,Iron Man 2,6.8,12368,Par.,170000000.0,312433331.0,621156389.0
3,en,28.005,1995-11-22,Toy Story,7.9,10174,NaN,30000000.0,191796233.0,364545516.0
4,en,27.920,2010-07-16,Inception,8.3,22186,WB,160000000.0,292576195.0,835524642.0

In [49]:
df_basics.rename(columns = {"primary_title": "title"}, inplace=True)
df_basics.head()

,title,start_year,runtime_minutes,genres
0,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,The Other Side of the Wind,2018,122.0,Drama
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"

In [50]:
print(df_movies2.shape)
print(df_basics.shape)

(26606, 10)
(146144, 4)

In [51]:
df_movies_final = pd.merge(df_basics, df_movies2, how = "left", on="title")
df_movies_final.head()

,title,start_year,runtime_minutes,genres,original_language,popularity,release_date,vote_average,vote_count,studio,production_budget,domestic_gross,worldwide_gross
0,Sunghursh,2013,175.0,"Action,Crime,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,One Day Before the Rainy Season,2019,114.0,"Biography,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Other Side of the Wind,2018,122.0,Drama,en,9.8,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN
3,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
#replace null values in release_date with start_year from df_basics
df_movies_final.release_date.fillna(df_movies_final.start_year, inplace=True)

In [53]:
#"start_year" no longer needed
drop_columns(df_movies_final, "start_year")

In [59]:
df_movies_final["foreign_gross"] = (df_movies_final.worldwide_gross - df_movies_final.domestic_gross)
df_movies_final["net_profit"] = (df_movies_final.worldwide_gross - df_movies_final.production_budget)
drop_columns(df_movies_final, "runtime_minutes",) #"runtime_minutes" no longer needed

KeyError: "['runtime_minutes'] not found in axis"

In [60]:
#"original_language" and "studio" no longer needed
drop_columns(df_movies_final, ["original_language", "studio"])

In [62]:
#reset index to genres
df_movies_final.set_index("genres", inplace=True)

In [63]:
df_movies_final.head()

,title,popularity,release_date,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
genres,,,,,,,,,,
"Action,Crime,Drama",Sunghursh,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Biography,Drama",One Day Before the Rainy Season,NaN,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Drama,The Other Side of the Wind,9.8,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN,NaN
"Comedy,Drama",Sabse Bada Sukh,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Comedy,Drama,Fantasy",The Wandering Soap Opera,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df_movies_final.describe()

,popularity,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
count,24204.000000,24204.000000,24204.000000,4.550000e+03,4.550000e+03,4.550000e+03,4.550000e+03,4.550000e+03
mean,3.853930,5.811552,282.449802,3.450462e+07,4.382987e+07,1.047967e+08,6.096687e+07,7.029212e+07
std,4.916361,1.710107,1129.202956,4.785826e+07,7.714793e+07,1.986001e+08,1.271451e+08,1.633475e+08
min,0.600000,0.000000,1.000000,9.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,-1.104502e+08
25%,0.655000,5.000000,2.000000,4.357373e+06,6.510800e+04,1.884251e+06,1.030822e+05,-2.609697e+06
50%,1.767000,6.000000,8.000000,1.500000e+07,1.227786e+07,3.435676e+07,1.415973e+07,1.251745e+07
75%,5.754000,6.900000,56.000000,4.000000e+07,4.729874e+07,9.632292e+07,5.127620e+07,6.020913e+07
max,80.773000,10.000000,22186.000000,4.250000e+08,7.605076e+08,2.776345e+09,2.015838e+09,2.351345e+09

In [67]:
#called index 75% (Q3) and index 25% (Q1) to calculate IQR
df_movies_final["popularity"].describe().iloc[6] - df_movies_final["popularity"].describe().iloc[4]

5.098999999999999

### Functions for Exploration

1. Drop Outliers

In [68]:
def calculate_interquartile_range(data, column):
    return data[column].describe().iloc[6] - data[column].describe().iloc[4]

In [70]:
calculate_interquartile_range(df_movies_final, ["popularity", "vote_average", "vote_count"])

popularity       5.099
vote_average     1.900
vote_count      54.000
dtype: float64

In [83]:
upper_outlier = df_movies_final["popularity"].describe().iloc[6] + (1.5 * calculate_interquartile_range(df_movies_final, "popularity"))
#df_movies_final.loc[df_movies_final["popularity"] > upper_outlier] used to call all the rows with outliers
df_movies_final = df_movies_final[df_movies_final["popularity"] < upper_outlier]
df_movies_final.head()

,title,popularity,release_date,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
genres,,,,,,,,,,
Drama,The Other Side of the Wind,9.800,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN,NaN
"Horror,Thriller",Bigfoot,2.813,2012-06-30,2.9,26.0,NaN,NaN,NaN,NaN,NaN
Drama,Heaven & Hell,0.600,2018-11-06,7.5,2.0,NaN,NaN,NaN,NaN,NaN
"Action,Animation,Comedy",Foodfight!,4.705,2013-05-07,2.1,46.0,45000000.0,0.0,73706.0,73706.0,-44926294.0
"Biography,Comedy,Drama",Return to Babylon,0.877,2013-08-11,7.0,1.0,NaN,NaN,NaN,NaN,NaN

In [84]:
lower_outlier = df_movies_final["popularity"].describe().iloc[4] - (1.5 * calculate_interquartile_range(df_movies_final, "popularity"))
df_movies_final = df_movies_final[df_movies_final["popularity"] > lower_outlier]
df_movies_final.head()

,title,popularity,release_date,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
genres,,,,,,,,,,
Drama,The Other Side of the Wind,9.800,2018-11-02,7.0,64.0,NaN,NaN,NaN,NaN,NaN
"Horror,Thriller",Bigfoot,2.813,2012-06-30,2.9,26.0,NaN,NaN,NaN,NaN,NaN
Drama,Heaven & Hell,0.600,2018-11-06,7.5,2.0,NaN,NaN,NaN,NaN,NaN
"Action,Animation,Comedy",Foodfight!,4.705,2013-05-07,2.1,46.0,45000000.0,0.0,73706.0,73706.0,-44926294.0
"Biography,Comedy,Drama",Return to Babylon,0.877,2013-08-11,7.0,1.0,NaN,NaN,NaN,NaN,NaN

In [103]:
def drop_lower_outliers(data, column):
    lower_outlier = data[column].describe().iloc[4] - (1.5 * calculate_interquartile_range(data, column))
    return data[data[column] > lower_outlier]
#     return df_without_outlier

In [99]:
def drop_upper_outliers(data, column):
    upper_outlier = data[column].describe().iloc[6] + (1.5 * calculate_interquartile_range(data, column))
    df_without_outlier = data[data[column] < upper_outlier]
    return df_without_outlier

In [112]:
df_movies_final.reset_index(inplace=True)

In [130]:
df_without_outlier = drop_lower_outliers(df_movies_final, "popularity")
df_without_outlier.head()
df_without_outlier[df_without_outlier['genres'].str.contains("Action,Comedy")==True]

,genres,title,popularity,release_date,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
27,"Action,Comedy,Crime",Venus & Vegas,2.362,2010-11-01,3.7,14.0,NaN,NaN,NaN,NaN,NaN
250,"Action,Comedy,Crime",Dylan Dog: Dead of Night,7.508,2011-11-01,4.4,243.0,20000000.0,1186538.0,6093725.0,4907187.0,-13906275.0
334,"Action,Comedy",Hit & Run,7.480,2012-08-22,5.7,312.0,22000000.0,13749300.0,17216955.0,3467655.0,-4783045.0
379,"Action,Comedy,Sci-Fi",Iron Sky,9.419,2012-03-10,5.7,840.0,NaN,NaN,NaN,NaN,NaN
420,"Action,Comedy,Romance",The Bounty Hunter,9.861,2010-03-19,5.7,1627.0,45000000.0,67061228.0,135808837.0,68747609.0,90808837.0
665,"Action,Comedy,Horror",Stag Night of the Dead,1.831,2012-05-01,3.7,11.0,NaN,NaN,NaN,NaN,NaN
684,"Action,Comedy,Horror",Blood Shot,3.720,2013-08-01,3.7,17.0,NaN,NaN,NaN,NaN,NaN
790,"Action,Comedy,Crime",Wild Target,9.355,2010-10-29,6.4,356.0,8000000.0,109338.0,5314194.0,5204856.0,-2685806.0
847,"Action,Comedy,Drama",Salvation Boulevard,6.507,2011-07-15,5.4,38.0,5500000.0,28468.0,28468.0,0.0,-5471532.0
893,"Action,Comedy,Horror",Hatchet II,8.513,2010-10-01,5.5,160.0,NaN,NaN,NaN,NaN,NaN
964,"Action,Comedy,Crime",Dancing Ninja,0.600,2013-10-08,4.7,3.0,NaN,NaN,NaN,NaN,NaN
1005,"Action,Comedy,Documentary",American Grindhouse,2.942,2011-02-04,6.9,35.0,NaN,NaN,NaN,NaN,NaN
1006,"Action,Comedy,Documentary",American Grindhouse,2.942,2011-02-04,6.9,35.0,NaN,NaN,NaN,NaN,NaN
1039,"Action,Comedy,Drama",Birdemic: Shock and Terror,5.961,2010-02-27,2.0,152.0,NaN,NaN,NaN,NaN,NaN
1106,"Action,Comedy",Shoot the Hero,1.638,2010-01-01,3.4,11.0,NaN,NaN,NaN,NaN,NaN
1178,"Action,Comedy,Thriller",Nude Nuns with Big Guns,5.429,2010-09-24,4.2,55.0,NaN,NaN,NaN,NaN,NaN
1195,"Action,Comedy,Horror",Cockneys vs Zombies,7.264,2013-08-02,5.9,206.0,NaN,NaN,NaN,NaN,NaN
1228,"Action,Comedy,Horror",Pride and Prejudice and Zombies,9.086,2016-02-05,5.7,1195.0,28000000.0,10907291.0,16638300.0,5731009.0,-11361700.0
1249,"Action,Comedy,Crime",You May Not Kiss the Bride,7.974,2011-04-05,5.9,98.0,NaN,NaN,NaN,NaN,NaN
1260,"Action,Comedy,Crime",Cop Out,8.820,2010-02-26,5.4,796.0,37000000.0,44875481.0,55909910.0,11034429.0,18909910.0
1338,"Action,Comedy,Crime",The Bannen Way,1.754,2010-01-06,4.9,15.0,NaN,NaN,NaN,NaN,NaN
1392,"Action,Comedy,Horror",Texas Frightmare Massacre,0.600,2010-04-30,10.0,1.0,NaN,NaN,NaN,NaN,NaN
1444,"Action,Comedy,Sci-Fi",Alien Opponent,3.166,2011-08-05,5.9,8.0,NaN,NaN,NaN,NaN,NaN
1534,"Action,Comedy",Cat Run,8.106,2011-04-01,5.8,60.0,NaN,NaN,NaN,NaN,NaN
1587,"Action,Comedy,Crime",Tactical Force,5.928,2011-08-09,4.8,48.0,NaN,NaN,NaN,NaN,NaN
1643,"Action,Comedy,Romance",MacGruber,7.666,2010-05-21,5.3,270.0,10000000.0,8525600.0,8629895.0,104295.0,-1370105.0
1676,"Action,Comedy,Horror",Dorm of the Dead,1.003,2012-02-07,3.0,3.0,NaN,NaN,NaN,NaN,NaN
1684,"Action,Comedy,Sci-Fi",Attack the Block,9.612,2011-07-29,6.4,1144.0,13000000.0,1024175.0,6459183.0,5435008.0,-6540817.0
1924,"Action,Comedy,Drama",Knucklehead,2.895,2010-10-22,5.0,24.0,NaN,NaN,NaN,NaN,NaN
1925,"Action,Comedy,Fantasy",Orcs!,1.537,2011-08-31,4.1,19.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17068,"Action,Comedy",Hunters' Crossing,0.840,2017-04-21,7.5,2.0,NaN,NaN,NaN,NaN,NaN
17094,"Action,Comedy,Horror",The Ninth Passenger,6.400,2018-07-18,4.5,11.0,NaN,NaN,NaN,NaN,NaN
17132,"Action,Comedy,Crime",Toy Gun,0.773,2018-01-01,4.0,1.0,NaN,NaN,NaN,NaN,NaN
17143,"Action,Comedy",FP2: Beats of Rage,1.291,2018-09-22,8.5,1.0,NaN,NaN,NaN,NaN,NaN
17352,"Action,Comedy,Horror",Victor Crowley,7.118,2017-08-22,5.7,44.0,NaN,NaN,NaN,NaN,NaN
17353,"Action,Comedy,Horror",Victor Crowley,7.118,2017-08-22,5.7,44.0,NaN,NaN,NaN,NaN,NaN
17697,"Action,Comedy",Killing Gunther,9.480,2017-09-22,4.5,132.0,NaN,NaN,NaN,NaN,NaN
17768,"Action,Comedy",Just Getting Started,8.459,2017-12-08,4.9,94.0,22000000.0,6069605.0,6756412.0,686807.0,-15243588.0
17769,"Action,Comedy",Just Getting Started,8.459,2017-12-08,4.9,94.0,22000000.0,6069605.0,6756412.0,686807.0,-15243588.0
18093,"Action,Comedy",For a Few Bullets,0.735,2016-07-22,6.0,4.0,NaN,NaN,NaN,NaN,NaN
18441,"Action,Comedy,Horror",Meatball Machine Kodoku,1.967,2017-03-11,6.0,8.0,NaN,NaN,NaN,NaN,NaN
18712,"Action,Comedy,Crime",Luck-Key,2.691,2016-10-21,7.0,32.0,NaN,NaN,NaN,NaN,NaN
18867,"Action,Comedy,Horror",Office Uprising,8.717,2018-06-19,5.2,62.0,NaN,NaN,NaN,NaN,NaN
19077,"Action,Comedy,Crime",Payback,0.840,2012-03-16,5.0,1.0,50000000.0,81526121.0,161626121.0,80100000.0,111626121.0
19319,"Action,Comedy,Crime",Danger One,3.848,2018-09-14,4.9,9.0,NaN,NaN,NaN,NaN,NaN
19339,"Action,Comedy",Katamarayudu,1.960,2017-03-24,6.4,5.0,NaN,NaN,NaN,NaN,NaN
19909,"Action,Comedy,Horror",Cherry Bomb,1.120,2011-06-01,3.0,8.0,NaN,NaN,NaN,NaN,NaN
19941,"Action,Comedy,Horror",Grindsploitation 4: Meltsploitation,2.192,2018-05-01,7.0,2.0,NaN,NaN,NaN,NaN,NaN
20325,"Action,Comedy,Drama",Big Brother,7.487,2018-08-31,7.8,12.0,NaN,NaN,NaN,NaN,NaN
20426,"Action,Comedy",Codename: Diablo!,3.673,2017-12-08,5.0,1.0,NaN,NaN,NaN,NaN,NaN
20427,"Action,Comedy",The Debt Collector,10.078,2018-06-05,6.0,46.0,NaN,NaN,NaN,NaN,NaN
20584,"Action,Comedy,Crime",Parchi,2.044,2018-01-12,8.0,1.0,NaN,NaN,NaN,NaN,NaN
20615,"Action,Comedy,Mystery",Anonymous,8.114,2011-10-28,6.4,434.0,27500000.0,4463292.0,15815509.0,11352217.0,-11684491.0
20761,"Action,Comedy",Rideshare,0.600,2011-01-01,7.0,1.0,NaN,NaN,NaN,NaN,NaN
20762,"Action,Comedy",Rideshare,5.206,2018-04-13,4.5,6.0,NaN,NaN,NaN,NaN,NaN
20941,"Action,Comedy,Crime",Teefa in Trouble,4.486,2018-07-20,7.6,11.0,1500000.0,0.0,98806.0,98806.0,-1401194.0
21098,"Action,Comedy,Drama",ATM,6.984,2012-04-06,5.1,291.0,NaN,NaN,NaN,NaN,NaN
21152,"Action,Comedy",Fake,2.498,2010-06-09,5.0,3.0,NaN,NaN,NaN,NaN,NaN
21252,"Action,Comedy",Tag,1.400,2015-05-04,4.0,1.0,28000000.0,54730625.0,77026186.0,22295561.0,49026186.0
21524,"Action,Comedy",Fat Buddies,2.434,2018-09-30,8.0,2.0,NaN,NaN,NaN,NaN,NaN

In [102]:
drop_upper_outliers(df_movies_final, "popularity").describe()

,popularity,vote_average,vote_count,production_budget,domestic_gross,worldwide_gross,foreign_gross,net_profit
count,21251.000000,21251.000000,21251.000000,2.709000e+03,2.709000e+03,2.709000e+03,2.709000e+03,2.709000e+03
mean,2.441013,5.726968,44.386335,2.285795e+07,2.694545e+07,5.997504e+07,3.302959e+07,3.711709e+07
std,2.331463,1.782637,176.267396,3.671009e+07,5.844503e+07,1.345105e+08,7.867830e+07,1.063250e+08
min,0.600000,0.000000,1.000000,9.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,-7.944858e+07
25%,0.600000,4.800000,2.000000,2.300000e+06,7.556000e+03,6.750500e+04,0.000000e+00,-4.932495e+06
50%,1.400000,5.800000,6.000000,1.000000e+07,1.759252e+06,9.985316e+06,1.704959e+06,-2.345300e+04
75%,3.353000,6.900000,25.000000,2.500000e+07,2.854416e+07,4.504387e+07,2.878338e+07,3.456761e+07
max,8.822000,10.000000,8211.000000,2.100000e+08,7.000596e+08,1.348258e+09,7.714000e+08,1.148258e+09