In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('imdb.title.ratings.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [4]:
df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [7]:
df.drop('numvotes', axis=1).head()

       tconst  averagerating
0  tt10356526            8.3
1  tt10384606            8.9
2   tt1042974            6.4
3   tt1043726            4.2
4   tt1060240            6.5